{% extends 'base.html.twig' %}



{% block body %}

<header>
  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
  <div class="block_header">
    <h1 class="mb-3">Le meilleur du cinéma</h1>
    <h4 class="mb-3">Bienvenue</h4>
    <a class="btn btn-primary" href="programs" role="button">Découvrir les séries</a>
    <a class="btn btn-primary" href="programs" role="button">Découvrir les films</a>

  </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-1">
      <p>Games of thrones</p>
    </div>
    
  </div>
</div>
{% endblock %}

