// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";



$theme-colors: (
  "primary":    blue,
  "secondary":  grey,
  "success":    green,
  "info":       orange,
  "warning":    orange,
  "danger":     red,
  "light":      yellow,
  "dark":       black
);

body {
    background-color: #f1f1f1;
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.7)!important;
  color: white!important;
  height: 70px!important
  ;
}
.navbar-light .navbar-brand {
  color: rgb(255 255 255 / 90%)!important;
}

.p-5{
  background-image: url(https://www.wallpapertip.com/wmimgs/35-353210_avengers-end-game-wallpapers-avengers-4-endgame-wallpaper.jpg)!important;
  background-size: cover!important;
  filter: grayscale(35%)!important;
  height: 35rem!important;

}

.btn {
  background-color: #E50914!important;
  border-color: #E50914!important;
  display: inline-block;
  box-shadow: 6px 5px 20px 1px #1b1b1b;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff!important;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 15px;
  font-size: 15px;
  border-radius: 40px!important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover{
  background-color: #ffffff!important;
  border-color: #E50914!important;
  color: #E50914!important;
}

.block_header {
  margin: 100px;
}

h1, .h1 {
  font-size: 60px;

}

.container{
  margin: 40px!important;
}

.col-1{
  background-color: grey;
}

.col-2{
  background-color: grey;
}

.col-3{
  background-color: grey;
}