// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";



$theme-colors: (
  "primary":    blue,
  "secondary":  grey,
  "success":    green,
  "info":       orange,
  "warning":    orange,
  "danger":     red,
  "light":      yellow,
  "dark":       black
);





a.nav-link {
  color: white!important;
  font-size: 20px!important;
  font-weight: 300!important;
  text-transform: uppercase!important;
}

a.nav-link:hover {
  color: #E50914!important;
  font-weight: 400!important;
  text-transform: uppercase!important;
  transition-delay: 2s;

}

body {
    background-color: #f1f1f1;
   
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.7)!important;
  color: white!important;
  height: 100px!important
  ;
}
.navbar-light .navbar-brand {
  color: rgb(255 255 255 / 90%)!important;
}

.container-fluid{
  flex-direction: column!important;

}

.p-5{
  background-image: url(https://www.wallpapertip.com/wmimgs/35-353210_avengers-end-game-wallpapers-avengers-4-endgame-wallpaper.jpg)!important;
  background-size: cover!important;
  filter: grayscale(35%)!important;
  height: 35rem!important;

}

.btn {
  background-color: #E50914!important;
  border-color: #E50914!important;
  display: inline-block;
  box-shadow: 6px 5px 20px 1px #1b1b1b;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff!important;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 15px;
  font-size: 15px;
  border-radius: 40px!important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover{
  background-color: #ffffff!important;
  border-color: #E50914!important;
  color: #E50914!important;
}

.block_header {
  margin: 100px;
}

h1, .h1 {
  font-size: 60px;

}



.col-1{
    background-image: url(https://i.pinimg.com/originals/a7/61/80/a76180d2cb9f8116574f5091102742a9.jpg);
    background-size: cover;

    height: 160px;
    flex: 1;
    width: 50%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px #8c8c8c;
    margin: 20px;
}

.col-2{
    background-image: url(https://i.pinimg.com/originals/17/0e/f7/170ef79dd61445f84f345fe3ed2a05bf.jpg);
  background-size: cover;
    height: 160px;
    flex: 1;
    width: 50%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 0px #8c8c8c;
    margin: 20px;

}

.col-3{
  background-image: url(https://images.alphacoders.com/110/1105203.jpg);
background-size: cover;
  height: 160px;
  flex: 1;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 0px #8c8c8c;
  margin: 20px;

}

.row-1 {
  display: flex;
  justify-content: space-around;
}
.row-2 {
  display: flex;
  justify-content: space-around;
}

.btn-1 {
  margin: 50px;
}


.footer{
  background-color: #2d2d2d;
    width: 100%;
    height: 15rem;
}

h1.h1_footer {
  color: white;
  text-align: center;
  padding: 80px;
  font-weight: 300!important;
}

h1.h1_footer:hover {
  color: #e50914;
  font-size: 70px!important;
  font-weight: 500!important;
  letter-spacing: 20px!important;
}